# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [4]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [6]:
file_path = "carol_city_data.csv"
df= pd.read_csv(file_path)
df.head()

,Unnamed: 0,City Name,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Tromsø,69.65,18.96,285.15,87,75,12.90,NO,1597448976
1,1,Bluff,-46.60,168.33,280.93,83,77,1.79,NZ,1597448978
2,2,Punta Arenas,-53.15,-70.92,273.15,91,100,2.10,CL,1597448979
3,3,Tautira,-17.73,-149.15,301.15,69,75,4.60,PF,1597448981
4,4,Souillac,-20.52,57.52,294.15,73,40,2.10,MU,1597448983

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [7]:
locations = df[["Lat", "Long"]]
humid = df["Humidity"].astype(float)
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humid, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [23]:
vacation_spot = df[(df["Max Temp"] > 291.483) & (df["Max Temp"] < 297.039) & (df["Humidity"] < 60)]
vacation_spot

,Unnamed: 0,City Name,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
33,33,Kindersley,51.47,-109.17,296.15,31,75,6.20,CA,1597449029
74,74,Thompson,55.74,-97.86,295.15,43,75,4.10,CA,1597449087
101,101,Mweka,-4.85,21.57,296.83,58,70,0.97,CD,1597449125
111,111,Fairbanks,64.84,-147.72,295.15,37,75,2.12,US,1597449023
131,131,Karratha,-20.74,116.85,292.27,39,1,4.10,AU,1597449167
135,135,Kumul,42.80,93.45,294.41,50,72,5.50,CN,1597449172
161,161,Beyneu,45.32,55.20,295.11,36,58,4.76,KZ,1597449208
173,173,Akdepe,42.06,59.38,295.15,43,0,3.10,TM,1597449226
192,192,Abu Samrah,35.30,37.18,295.00,59,0,3.29,SY,1597449257
201,201,Buritis,-15.62,-46.42,295.49,42,0,1.00,BR,1597449005
215,215,Erenhot,43.65,111.98,297.00,42,84,4.14,CN,1597449293
226,226,Saint Paul Harbor,57.79,-152.41,294.15,40,1,5.10,US,1597449309
235,235,Coração de Jesus,-16.69,-44.37,294.35,45,0,3.74,BR,1597449322
246,246,Airai,-8.93,125.41,293.01,50,0,1.67,TL,1597449340
258,258,Kasongo-Lunda,-6.47,16.82,296.64,46,6,1.36,CD,1597449359
268,268,Mount Isa,-20.73,139.50,294.15,30,0,6.20,AU,1597449373
319,319,Romitan,39.93,64.38,295.15,49,0,2.10,UZ,1597449446
336,336,Abbeville,50.10,1.83,292.59,53,79,2.17,FR,1597449472
337,337,Yangi Marg`ilon,40.43,71.72,295.15,33,16,2.10,UZ,1597449473
347,347,Elmadağ,39.92,33.23,293.15,59,0,5.10,TR,1597449491
369,369,Camiri,-20.05,-63.52,294.63,58,0,0.37,BO,1597449518
420,420,Vinsady,44.08,42.97,292.15,52,39,4.00,RU,1597449588
471,471,Posse,-14.09,-46.37,296.58,40,0,4.14,BR,1597449668
513,513,Outlook,51.50,-107.05,294.84,39,80,3.87,CA,1597449728
547,547,Fort Nelson,58.81,-122.70,292.15,55,75,3.60,CA,1597449775
556,556,Lanigan,51.85,-105.03,292.79,49,40,6.81,CA,1597449508

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [3]:
# Example https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-33.8670522,151.1957362&radius=1500&type=restaurant&keyword=cruise&key=YOUR_API_KEY
Location = "maps.googleapis.com/maps/api/place/nearbysearch/output?"

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure